/* Barra de navegación vertical */
.sidebar-container {
    width: 250px;
    height: 100vh;
    background-color: #34495E;
    position: fixed;
}

.sidebar-container nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-container nav .nav-button {
    color: white;
    background-color: transparent;
    text-decoration: none;
    padding: 15px;
    display: block;
    border: none;
    text-align: left;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.sidebar-container nav .nav-button:hover {
    background-color: #1ABC9C;
}

/* Estilos para el botón flotante */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #1ABC9C;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.floating-btn:hover {
    background-color: #16A085;
    transform: scale(1.1);
}

/* Estilos para el contenido principal */
.main-content {
    margin-left: 250px; /* Espacio reservado para la barra lateral */
    padding: 20px;
    height: 100vh;
    overflow-y: auto; /* Para que el contenido sea desplazable si es necesario */
    background-color: #ECF0F1;
    box-sizing: border-box;
}

.main-content h1 {
    color: #2C3E50;
    font-size: 28px;
    margin-bottom: 20px;
}

/* Contenedor para las tareas */
.tasks-container {
    display: flex; /* Usar flexbox para las columnas */
    justify-content: space-between; /* Espacio entre columnas */
}
.task-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}
/* Secciones de prioridades */
.priority-section {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 10px; /* Espaciado entre columnas */
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1; /* Permite que cada sección ocupe el mismo espacio */
}

.priority-section h2 {
    color: #2C3E50;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo de las tareas */
.task {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task h3 {
    font-size: 18px;
    color: #000000;
    margin: 0 0 5px;
}

.task p {
    color: #51595a;
    margin: 0;
}

/* Estilo para el mensaje si no hay tareas */
.task-list p {
    color: #303435;
    font-size: 16px;
    text-align: center;
}

/* Colores de prioridad para las tareas */
.priority-completed {
    background-color: #FFE800; /* Amarillo para tareas completadas */
    border: 1px solid #D4B600;
}

.priority-pending {
    background-color: #68B1F4; /* Azul para tareas comenzadas */
    border: 1px solid #4A90E2;
}

.priority-postponed {
    background-color: #FF4AC4; /* Rojo para tareas aplazadas */
    border: 1px solid #C7008E;
}
