<!--/view/Altask/AllTAsk.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-content">
      <div class="container">
        <h1>Lista de Tareas</h1>
        <div id="tareas-container"></div>
        <!-- Contenedor para las tareas -->
        <button id="load-more-button" class="load-more-button" style="display: none;">
          Cargar más tareas
        </button>
      </div>
    </div>


    <script src="./main.js"></script>
  </body>
</html>
