<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Todas las Tareas</title>
</head>
<body>
    <div class="container">
        <h1>Todas las Tareas</h1>
        <div class="task-list" id="task-list">
            <!-- Las tareas se insertarán aquí dinámicamente -->
        </div>
        <button class="btn-add" onclick="location.href='task-form.html'">Agregar Nueva Tarea</button>
    </div>
    <script src="../js/views.js"></script>
</body>
</html>
