/* layout.css */
/* Sidebar styles */
.sidebar-container {
    width: 250px;
    height: 100vh;
    background-color: var(--dark-background);
    position: fixed;
}

/* Main content styles */
.main-content {
    margin-left: 250px;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--light-background);
}

/* Estilos para portátiles (14 a 15 pulgadas) */
@media (max-width: 1366px) and (min-width: 1024px) {
    .sidebar-container {
        width: 200px; /* Reducir el ancho de la barra lateral */
    }

    .main-content {
        margin-left: 200px; /* Ajustar el margen izquierdo */
        padding: 15px; /* Reducir el padding */
    }
}

/* Estilos para tablets (10 a 12 pulgadas) */
@media (max-width: 1024px) and (min-width: 768px) {
    .sidebar-container {
        width: 180px; /* Aún más estrecho */
    }

    .main-content {
        margin-left: 180px; /* Ajustar margen */
        padding: 10px; /* Menos padding */
    }
}

/* Estilos para celulares (1080x2460) */
@media (max-width: 480px) {
    .sidebar-container {
        display: none; /* Ocultar barra lateral en móviles */
    }

    .main-content {
        margin: 0; /* Sin margen */
        padding: 10px; /* Padding reducido */
    }
}
