/* reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegurar que padding y border se incluyan en el ancho y alto */
}

body {
    font-family: Arial, sans-serif; /* Fuente general */
}
