/* variables.css */
:root {
    --primary-color: #4a90e2; /* Color principal */
    --secondary-color: #1ABC9C; /* Color secundario */
    --text-color: #333; /* Color de texto */
    --background-color: #f9f9f9; /* Color de fondo */
    --dark-background: #34495E; /* Fondo oscuro */
    --light-background: #ECF0F1; /* Fondo claro */
}
