<div class="sidebar-container">
    <nav>
        <button class="nav-button" data-page="./Alltask/AllTask.html">Todas las tareas</button>
        <button class="nav-button" data-page="./Categories/category-tasks.html">Tareas por categoría</button>
        <button class="nav-button" data-page="./priority/priority-tasks.html">Tareas por prioridad</button>
        <button class="nav-button" data-page="./Status/status-tasks.html">Tareas por estado</button>
        <button class="nav-button" data-page="./Config/config.html">Configuración</button>
    </nav>
</div>
<!-- Botón flotante -->
<button class="floating-btn" onclick="openTaskForm()" aria-label="Crear nueva tarea">+</button>